# User-specific files
*.suo
*.user
*.userosscache

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

*.obj
*.tmp
*.log
*.pidb
*.nupkg

# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

# Misc
*.DS_Store
/RT.Comb/NuGet
docs
artifacts/**/*.*
.vs/config/*.config
